#container{
	display: flex;
  	justify-content: center;
  	align-items: center;
}
#container2{
	width: 920px;
	display: flex;
  	justify-content: center;
  	align-items: center;
}
#tabla{
  width: 130px;

}
//
.fullscreen-modal .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .fullscreen-modal .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .fullscreen-modal .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .fullscreen-modal .modal-dialog {
     width: 1170px;
  }
}
//

.riesgos{
	border: 3px solid;
}

.dimension{
	border-left: 1px solid;	
}

.bordes{
	border: 1px solid;
}

#table_estado{
	width: 150%;
	height: 10px;
}

.table_clasisicacion{
	width: 150%;
	height: 10px;
}

.grupos_resumen{
	width: 150%;
	height: 10px;	
}
body{
	background: #006400;
}

/*.bajo{
	 border-color: #008000;
   border-width: 2px;
   border-style: solid;
}*/

img.avatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 150px;
    width: 150px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    display:block;
	margin:auto;
}


#container-main{
	margin:40px auto;
	width:95%;
	min-width:320px;
	max-width:960px;
}

#container-main h1{
	font-size: 40px;
	text-shadow:4px 4px 5px #16a085;
}

.accordion-container {
	width: 100%;
	margin: 0 0 20px;
	clear:both;
}

.accordion-titulo-1 {
	position: relative;
	display: block;
	padding: 20px;
	font-size: 24px;
	font-weight: 300;
	background: #2c3e50;
	color: #fff;
	text-decoration: none;
}
.accordion-titulo-2 {
	position: relative;
	display: block;
	padding: 20px;
	font-size: 24px;
	font-weight: 300;
	background: #2c3e50;
	color: #fff;
	text-decoration: none;
}
.accordion-titulo-3 {
	position: relative;
	display: block;
	padding: 20px;
	font-size: 24px;
	font-weight: 300;
	background: #2c3e50;
	color: #fff;
	text-decoration: none;
}

.accordion-titulo-4 {
	position: relative;
	display: block;
	padding: 20px;
	font-size: 24px;
	font-weight: 300;
	background: #2c3e50;
	color: #fff;
	text-decoration: none;
}

.accordion-titulo-5 {
	position: relative;
	display: block;
	padding: 20px;
	font-size: 24px;
	font-weight: 300;
	background: #2c3e50;
	color: #fff;
	text-decoration: none;
}

.accordion-titulo-6 {
	position: relative;
	display: block;
	padding: 20px;
	font-size: 24px;
	font-weight: 300;
	background: #2c3e50;
	color: #fff;
	text-decoration: none;
}

.accordion-titulo-7 {
	position: relative;
	display: block;
	padding: 20px;
	font-size: 24px;
	font-weight: 300;
	background: #2c3e50;
	color: #fff;
	text-decoration: none;
}

.accordion-titulo-9 {
	position: relative;
	display: block;
	padding: 20px;
	font-size: 24px;
	font-weight: 300;
	background: #2c3e50;
	color: #fff;
	text-decoration: none;
}

.accordion-titulo-1.open {
	background: #16a085;
	color: #fff;
}

.accordion-titulo-1:hover {
	background: #1abc9c;
}

.accordion-titulo-1 span.toggle-icon:before {
	content:"+";
}

.accordion-titulo-1.open span.toggle-icon:before {
	content:"-";
}

.accordion-titulo-1 span.toggle-icon {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 38px;
	font-weight:bold;
}

.accordion-titulo-9.open {
	background: #16a085;
	color: #fff;
}

.accordion-titulo-9:hover {
	background: #1abc9c;
}

.accordion-titulo-9 span.toggle-icon:before {
	content:"+";
}

.accordion-titulo-9.open span.toggle-icon:before {
	content:"-";
}

.accordion-titulo-9 span.toggle-icon {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 38px;
	font-weight:bold;
}

.accordion-titulo-2.open {
	background: #16a085;
	color: #fff;
}

.accordion-titulo-2:hover {
	background: #1abc9c;
}

.accordion-titulo-2 span.toggle-icon:before {
	content:"+";
}

.accordion-titulo-2.open span.toggle-icon:before {
	content:"-";
}

.accordion-titulo-2 span.toggle-icon {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 38px;
	font-weight:bold;
}

.accordion-titulo-7.open {
	background: #16a085;
	color: #fff;
}

.accordion-titulo-7:hover {
	background: #1abc9c;
}

.accordion-titulo-7 span.toggle-icon:before {
	content:"+";
}

.accordion-titulo-7.open span.toggle-icon:before {
	content:"-";
}

.accordion-titulo-7 span.toggle-icon {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 38px;
	font-weight:bold;
}
.accordion-titulo-3.open {
	background: #16a085;
	color: #fff;
}
.accordion-titulo-4.open {
	background: #16a085;
	color: #fff;
}

.accordion-titulo-5.open {
	background: #16a085;
	color: #fff;
}
  
.accordion-titulo-6.open {
	background: #16a085;
	color: #fff;
}

.accordion-titulo-3:hover {
	background: #1abc9c;
}

.accordion-titulo-4:hover {
	background: #1abc9c;
}

.accordion-titulo-5:hover {
	background: #1abc9c;
}
.accordion-titulo-6:hover {
	background: #1abc9c;
}

.accordion-titulo-3 span.toggle-icon:before {
	content:"+";
}

.accordion-titulo-4 span.toggle-icon:before {
	content:"+";
}


.accordion-titulo-5 span.toggle-icon:before {
	content:"+";
}
.accordion-titulo-6 span.toggle-icon:before {
	content:"+";
}

.accordion-titulo-3.open span.toggle-icon:before {
	content:"-";
}

.accordion-titulo-4.open span.toggle-icon:before {
	content:"-";
}


.accordion-titulo-5.open span.toggle-icon:before {
	content:"-";
}
.accordion-titulo-6.open span.toggle-icon:before {
	content:"-";
}

.accordion-titulo-3 span.toggle-icon {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 38px;
	font-weight:bold;
}

.accordion-titulo-4 span.toggle-icon {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 38px;
	font-weight:bold;
}


.accordion-titulo-5 span.toggle-icon {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 38px;
	font-weight:bold;
}
.accordion-titulo-6 span.toggle-icon {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 38px;
	font-weight:bold;
}

.accordion-content-1 {
	display: none;	
	padding: 20px;
	overflow: auto;
}
.accordion-content-2 {
	display: none;
	padding: 20px;
	overflow: auto;
}
.accordion-content-3 {
	display: none;
	padding: 20px;
	overflow: auto;
}

.accordion-content-4 {
	display: none;
	padding: 20px;
	overflow: auto;
}
.accordion-content-6 {
	display: none;
	padding: 20px;
	overflow: auto;
}

.accordion-content-5 {
	display: none;
	padding: 20px;
	overflow: auto;
}

.accordion-content-7 {
	display: none;
	padding: 20px;
	overflow: auto;
}

.accordion-content-9 {
	display: none;
	padding: 20px;
	overflow: auto;
}

.accordion-content-1 p{
	margin:0;
}

.accordion-content-1 img {
	display: block;
	float: left;
	margin: 0 15px 10px 0;
	width: 50%;
	height: auto;
}


@media (max-width: 767px) {
	.accordion-content-1 {
		padding: 10px 0;
	}
}

.dropdown-menu {
  margin-top: 0;
}

td{
	font-weight: normal;
}
